---
# Copyright 2015 WebEffects Network, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# General config options
general:
 
  # we allow multiple ldap domains to be configured
  # here, you can set the default domain to avoid
  # having to specify it on the command line constantly 
  default_domain: 'example.com'

  # default contact email address
  contact: 'user@example.com'

  # the HTTPBasicAuth user for informational requests (read-only)
  api_info_user: 'apicli'

  # the HTTPBasicAuth pass for informational requests (read-only)
  api_info_pass: 'VHiwjWO9'

  # the HTTPBasicAuth user for admin requests (read-write)
  api_admin_user: 'vlad'

  # the HTTPBasicAuth user for admin requests (read-write)
  api_admin_pass: '8IVxXI3C'


# Log config options
logconfig:

  # log directory
  logdir: "/var/log/vyvyan"

  # log file
  logfile: "vyvyan_daemon.log"

  # True = log to logfile above + stdout, False = just stdout
  log_to_file: True

  # True = log to logfile above + stdout, False = just stdout
  log_to_console: True


# Database options
db:

  # db engine, currently mysql and postgresql are supported
  # for older versions of sqlalchemy, you may need to set this
  # to "postgres" instead of "postgresql"
  engine: 'postgresql'

  # username to access the db
  #must have write privileges on the db defined in 'dbname' below
  user: 'root'

  # password to access the db
  pass: 'rootpass'

  # hostname of the db
  hostname: 'localhost'

  # db name
  dbname: 'vyvyan'

  # Makes sqlalchemy output debug sql statements
  # to the console.   Normally you should not need this unless
  # you are debugging a SQL generation error in sqlalchemy
  echo: false

# User and Group options
users_and_groups:

  # password salt size. default is 4 since that's the
  # default in OpenLDAP. feel free to change this if 
  # you're using an LDAP server that allows larger salt 
  # minimum is 4, maximum is 16
  salt_size: '4' 

  # A list containing valid user types
  user_types: ['employee', 'consultant', 'system']

  # Default user type, for when a user is added without
  # any type being specified on the command line
  def_user_type: 'employee'

  # Default home directory path, will have <username> appended
  # eg. hdir: "/home" will yield /home/dkovach 
  hdir: '/home'

  # Default shell. /bin/bash seems to be reasonable
  shell: '/bin/bash'

  # Start of the reserved UID range
  # only change this if you REALLY know what you're doing
  uid_start: '500'

  # End of the reserved UID range
  # for compatibility's sake, assume UIDs are 16-bit
  # only change this if you REALLY know what you're doing
  uid_end: '65535'

  # Start of the reserved GID range
  # only change this if you REALLY know what you're doing
  gid_start: '500'

  # End of the reserved GID range
  # for compatibility's sake, assume GIDs are 16-bit
  # only change this if you REALLY know what you're doing
  gid_end: '65535'

  # Array of groups to which ALL users are added
  # we recommend populating this with at least one group
  # commonly called "users"
  default_groups: ['users', 'web']


# LDAP module options
ldap:

  # set the admin CN. this is pre-populated with the 'root'
  # user and should be the first thing you change 
  ldap_admin_cn: 'root'

  # TODO: explore how these are set
  # previously was in KV
  #
  # ldap_admin_pass
  # ldap_master_slapd_rootpw

  # OU for users
  users_ou: 'users'

  # OU for groups
  groups_ou: 'groups'

  # LDAP connection success code.
  # DO NOT CHANGE THIS unless you know what you're doing
  ldap_success: '97' 

  # Default gidNumber for posixGroup , should match value
  # associated to the first entry of default_groups array
  default_gid: '401'

